<a href="https://colab.research.google.com/github/Rifaldosukma23/Pertemuan-2-PPM-Rifaldo/blob/main/load_dataset_dari_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pertama-tama upload file .csv

In [3]:
import numpy as np 
import pandas as pd
from google.colab import files
filenya= files.upload()

Saving data.csv to data.csv

cek apakah sudah berhasil

In [4]:
filenya

{'data.csv': b'Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)\r\nar,Argentina,4760,3154,1606,3.74,6.3,9.26\r\nau,Australia,6114,4050,2064,7.84,12.12,16.39\r\nat,Austria,5640,3779,1861,9.03,14.67,20.32\r\nbe,Belgium,4990,3374,1616,10.16,15.24,20.32\r\nbo,Bolivia,4991,3155,1836,7.99,10.99,13.99\r\nbr,Brazil,4972,3162,1810,4.61,7.11,9.96\r\nbg,Bulgaria,6797,4819,1978,9.03,11.29,13.54\r\nca,Canada,6239,4311,1928,7.91,11.87,15.03\r\ncl,Chile,4994,3156,1838,7.07,9.91,12.74\r\nco,Colombia,4991,3156,1835,4.31,6.86,9.93\r\ncr,Costa Rica,4988,3152,1836,8.99,12.99,15.99\r\nhr,Croatia,2274,1675,599,9.03,11.29,13.54\r\ncz,Czechia,7325,5234,2091,8.83,11.49,14.15\r\ndk,Denmark,4558,2978,1580,12.0,15.04,19.6\r\nec,Ecuador,4992,3155,1837,7.99,10.99,13.99\r\nee,Estonia,6456,4486,1970,9.03,11.29,13.54\r\nfi,Finland,4045,2638,1407,9.03,13.54,18.06\r\nfr,France,5445,3604,1841,10.16,15.24,20.32\r\nde,Germany,5668,3814,1854,9.03,14.67,20.32\r\ngi,Gibraltar,6167,4079,2088,9.03,14.67,20.32\r\ngr,Greece,4772,3344,1428,9.03,12.42,15.8\r\ngt,Guatemala,4767,3154,1613,7.99,10.99,13.99\r\nhn,Honduras,4989,3154,1835,7.99,10.99,13.99\r\nhk,Hong Kong,4746,2883,1863,8.08,10.0,11.93\r\nhu,Hungary,6884,4802,2082,7.64,10.71,13.78\r\nis,Iceland,6387,4426,1961,9.03,14.67,20.32\r\nin,India,5843,3718,2125,2.64,6.61,8.6\r\nid,Indonesia,3887,2449,1438,8.36,10.66,12.96\r\nie,Ireland,6486,4515,1971,9.03,14.67,20.32\r\nil,Israel,5713,3650,2063,10.56,15.05,19.54\r\nit,Italy,5183,3545,1638,9.03,14.67,20.32\r\njp,Japan,5475,3619,1856,8.73,13.13,17.45\r\nlv,Latvia,6450,4479,1971,9.03,11.29,13.54\r\nli,Liechtenstein,3048,1712,1336,12.88,20.46,26.96\r\nlt,Lithuania,6462,4490,1972,9.03,11.29,13.54\r\nmy,Malaysia,5952,3565,2387,8.29,10.65,13.02\r\nmx,Mexico,4993,3158,1835,6.62,10.43,14.24\r\nmd,Moldova,3937,2473,1464,9.03,11.29,13.54\r\nmc,Monaco,5804,3806,1998,9.03,13.54,18.06\r\nnl,Netherlands,5376,3779,1597,9.03,13.54,18.06\r\nnz,New Zealand,6084,4003,2081,8.8,12.53,16.94\r\nno,Norway,4528,2955,1573,9.94,12.17,17.75\r\npy,Paraguay,4797,3155,1642,8.29,11.49,14.69\r\npe,Peru,4986,3155,1831,6.11,8.56,11.01\r\nph,Philippines,6362,4154,2208,7.35,9.14,10.93\r\npl,Poland,5109,3512,1597,7.13,10.58,14.76\r\npt,Portugal,5047,3419,1628,9.03,13.54,18.06\r\nro,Romania,5303,3832,1471,9.03,11.29,13.54\r\nru,Russia,5711,3624,2087,8.13,10.84,13.56\r\nsm,San Marino,2310,1937,373,9.03,14.67,20.32\r\nsg,Singapore,6303,4109,2194,9.51,12.81,16.11\r\nsk,Slovakia,7035,5055,1980,9.03,11.29,13.54\r\nza,South Africa,5736,3686,2050,6.26,10.05,12.58\r\nkr,South Korea,5195,3334,1861,8.07,11.47,14.45\r\nes,Spain,5229,3536,1693,9.03,14.67,20.32\r\nse,Sweden,4361,2973,1388,10.9,14.2,19.7\r\nch,Switzerland,5506,3654,1852,12.88,20.46,26.96\r\ntw,Taiwan,5105,3134,1971,9.74,11.9,14.07\r\nth,Thailand,4948,2977,1971,8.34,10.43,12.52\r\ntr,Turkey,4639,2930,1709,1.97,3.0,4.02\r\nua,Ukraine,5336,3261,2075,5.64,8.46,11.29\r\ngb,United Kingdom,6643,4551,2092,7.91,13.2,18.48\r\nus,United States,5818,3826,1992,8.99,13.99,17.99\r\nuy,Uruguay,4989,3154,1835,8.99,12.99,15.99\r\nve,Venezuela,4797,3154,1643,7.99,10.99,13.99\r\n'}

baca file .csv

In [6]:
import io
db = pd.read_csv(io.StringIO(filenya['data.csv'].decode('utf-8')))
print(db)

   Country_code         Country  Total Library Size  No. of TV Shows  \
0            ar       Argentina                4760             3154
1            au       Australia                6114             4050
2            at         Austria                5640             3779
3            be         Belgium                4990             3374
4            bo         Bolivia                4991             3155
..          ...             ...                 ...              ...
60           ua         Ukraine                5336             3261
61           gb  United Kingdom                6643             4551
62           us   United States                5818             3826
63           uy         Uruguay                4989             3154
64           ve       Venezuela                4797             3154

    No. of Movies  Cost Per Month - Basic ($)  Cost Per Month - Standard ($)  \
0            1606                        3.74                           6.30
1            2064                        7.84                          12.12
2            1861                        9.03                          14.67
3            1616                       10.16                          15.24
4            1836                        7.99                          10.99
..            ...                         ...                            ...
60           2075                        5.64                           8.46
61           2092                        7.91                          13.20
62           1992                        8.99                          13.99
63           1835                        8.99                          12.99
64           1643                        7.99                          10.99

    Cost Per Month - Premium ($)
0                           9.26
1                          16.39
2                          20.32
3                          20.32
4                          13.99
..                           ...
60                         11.29
61                         18.48
62                         17.99
63                         15.99
64                         13.99

[65 rows x 8 columns]

tampilkan datanya

In [7]:
db.head()

,Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
0,ar,Argentina,4760,3154,1606,3.74,6.30,9.26
1,au,Australia,6114,4050,2064,7.84,12.12,16.39
2,at,Austria,5640,3779,1861,9.03,14.67,20.32
3,be,Belgium,4990,3374,1616,10.16,15.24,20.32
4,bo,Bolivia,4991,3155,1836,7.99,10.99,13.99

Mari kita lihat jenis variabelnya jika kita memiliki NAs

In [8]:
print(db.info())
print(db.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country_code                   65 non-null     object
 1   Country                        65 non-null     object
 2   Total Library Size             65 non-null     int64
 3   No. of TV Shows                65 non-null     int64
 4   No. of Movies                  65 non-null     int64
 5   Cost Per Month - Basic ($)     65 non-null     float64
 6   Cost Per Month - Standard ($)  65 non-null     float64
 7   Cost Per Month - Premium ($)   65 non-null     float64
dtypes: float64(3), int64(3), object(2)
memory usage: 4.2+ KB
None
(65, 8)

In [11]:
db['Country'].value_counts()

Argentina        1
Liechtenstein    1
Malaysia         1
Mexico           1
Moldova          1
                ..
Indonesia        1
Ireland          1
Israel           1
Italy            1
Venezuela        1
Name: Country, Length: 65, dtype: int64

Saya hanya akan menyimpan yang **numerik**

In [12]:
db1 = db.iloc[:,1:7]
db1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        65 non-null     object
 1   Total Library Size             65 non-null     int64
 2   No. of TV Shows                65 non-null     int64
 3   No. of Movies                  65 non-null     int64
 4   Cost Per Month - Basic ($)     65 non-null     float64
 5   Cost Per Month - Standard ($)  65 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.2+ KB